body {
    background-color: grey;
    margin: 0;
    padding: 0;
    font-family: 'Numans', sans-serif;
}

/* TITLE AND NAVBAR */

h1 {
    text-align: center;
    background-color: #353535;
    color: white;
    margin: 0;
    padding: 20px;
}

h2 {
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #353535;
}

.tab {
    flex-grow: 1;
    text-align: center;
    color: white;
    padding: 15px 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

/* TAB CONTENT OFF */
[data-tab-content] {
    display: none;
}

/* TAB CONTENT ON */
.active[data-tab-content] {
    display: block;
}

.tab:hover {
    background-color: #111;
}

.tab.active:hover {
    background-color: #111;
}

.tab.active {
    background-color: #474747;
}