body {
    background-color: #313131; 
    margin: 0;
    padding: 0;
    font-family: 'Numans', sans-serif;
    color: #fff;
}

/* TITLE AND NAVBAR */

h1 {
    text-align: center;
    background-color: #353535;
    margin: 0;
    padding: 2rem;
}

h2 {
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #353535;
}

li {
    flex-grow: 1;
    text-align: center;
    padding: 15px 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

li:hover {
    background-color: #111;
}

li.active {
    background-color: #474747;
}

li.active:hover {
    background-color: #111;
}

/* TAB CONTENT OFF */
[data-tab-content] {
    display: none;
}

/* TAB CONTENT ON */
.active[data-tab-content] {
    display: block;
}

/* HOME TAB */
.inner-home-div {
    margin: 0 auto;
    color: #f5f5f5;
}

.inner-home-div blockquote {
    width: 550px;
    margin: 0 auto;
    margin-top: 8%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Philosopher', sans-serif;
}

.home-image {
    display: block;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.inner-home-div h4 {
    width: 75%;
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 5%;
    text-align: center;
}

/* GALLERY TAB */

#gallery {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 80%;
}

.inner-gallery-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem;
}

.box-image {
    width: 100%;
}